{% extends 'base.html.twig' %}

{% block title %}Company List{% endblock %}

{% block body %}
    <h1>Company List</h1>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Company Name</th>
            <th>Street</th>
            <th>House Number</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.companyName }}</td>
                <td>{{ company.street }}</td>
                <td>{{ company.houseNumber }}</td>
                <td>{{ company.city }}</td>
                <td>{{ company.postalCode }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ path('app_company_show', {'id': company.id}) }}" class="btn btn-info btn-sm">Show</a>
                    <a href="{{ path('app_company_edit', {'id': company.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="mb-3">
    <a href="{{ path('app_company_new') }}" class="btn btn-success">Create new</a>
</div>

{% endblock %}