{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ company.id }}</td>
        </tr>
        <tr>
            <th>Company Name</th>
            <td>{{ company.companyName }}</td>
        </tr>
        <tr>
            <th>Street</th>
            <td>{{ company.street }}</td>
        </tr>
        <tr>
            <th>House Number</th>
            <td>{{ company.houseNumber }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ company.city }}</td>
        </tr>
        <tr>
            <th>Postal Code</th>
            <td>{{ company.postalCode }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_company_index') }}" class="btn btn-secondary">Back to list</a>
    <a href="{{ path('app_company_edit', {'id': company.id}) }}" class="btn btn-primary">Edit</a>

{% endblock %}
