{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ company.id }}</td>
        </tr>
        <tr>
            <th>Company Name</th>
            <td>{{ company.companyName }}</td>
        </tr>
        <tr>
            <th>Street</th>
            <td>{{ company.street }}</td>
        </tr>
        <tr>
            <th>House Number</th>
            <td>{{ company.houseNumber }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ company.city }}</td>
        </tr>
        <tr>
            <th>Postal Code</th>
            <td>{{ company.postalCode }}</td>
        </tr>
        </tbody>
    </table>

    <h2>Contacts</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}">{{ contact.firstName }} {{ contact.lastName }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="1">No contacts found for this company</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_company_index') }}" class="btn btn-secondary">Back to list</a>

{% endblock %}
