{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Salutation</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Street</th>
            <th>House Number</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Email</th>
            <th>Company</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.salutation }}</td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.street }}</td>
                <td>{{ contact.houseNumber }}</td>
                <td>{{ contact.city }}</td>
                <td>{{ contact.postalCode }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.company.companyName }}</td>
                <td>
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}" class="btn btn-info btn-sm">Show</a>
                    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}" class="btn btn-warning btn-sm">Edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_new') }}" class="btn btn-success">Create new</a>
    <a href="{{ path('app_company_index') }}" class="btn btn-primary">Zurück zur Firmenliste</a>
{% endblock %}

