{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ contact.id }}</td>
        </tr>
        <tr>
            <th>Salutation</th>
            <td>{{ contact.salutation }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ contact.firstName }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ contact.lastName }}</td>
        </tr>
        <tr>
            <th>Street</th>
            <td>{{ contact.street }}</td>
        </tr>
        <tr>
            <th>House Number</th>
            <td>{{ contact.houseNumber }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ contact.city }}</td>
        </tr>
        <tr>
            <th>Postal Code</th>
            <td>{{ contact.postalCode }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ contact.email }}</td>
        </tr>
        <tr>
            <th>Company</th>
            <td>{{ contact.company.companyName }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contact_index') }}" class="btn btn-secondary">Back to list</a>
    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}" class="btn btn-primary">Edit</a>

{% endblock %}
